__pycache__/
*.pyc
.ipynb_checkpoints/

Miniconda3-*.sh

runs/
logs/
checkpoints/

dataset/raw/
*.ckpt
*.bin

.venv/

dataset/setting_c_pharmkg/06_fograg_ready/train.json
dataset/setting_c_pharmkg/13_e2e_infer_ready/*/train.json
dataset/setting_a/33_week25_noise_robustness/N4_*/train.json
dataset/setting_a/33_week25_noise_robustness/N5_*/train.json
dataset/setting_a/33_week25_noise_robustness/N6_*/train.json

.vscode

dataset/setting_d_hetionet/00_raw_inventory/extracted/dhimmel-hetionet-4933ca1/hetnet/neo4j/hetionet-v1.0.db.tar.bz2
dataset/setting_d_hetionet/00_raw_inventory/hetionet-v1.0.0.zip

dataset/setting_e_drkg/00_raw_inventory/**/*.tsv
dataset/setting_e_drkg/00_raw_inventory/**/*.npy
dataset/setting_e_drkg/00_raw_inventory/**/*.tar.gz

dataset/setting_e_drkg/10_fuzzy_retrieval/**/*.json

dataset/setting_e_drkg/11_e2e_fuzzy_retrieval_ready/rgcn/train.json

dataset/setting_f_repodb/07_support_features/**/train_support_features.json
dataset/setting_f_repodb/08_soft_support/**/train_top20_soft_support_main.json
dataset/setting_f_repodb/09_e2e_soft_support_ready/**/*.json

dataset/setting_f_repodb/10_fuzzy_retrieval/**/*.json

dataset/setting_f_repodb/11_e2e_fuzzy_retrieval_ready/rgcn/train.json